body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-jetbrains-mono: "JetBrains Mono";

  /* font sizes */
  --font-size-xl: 20px;

  /* Colors */
  --color-steelblue: #006494;
  --color-white: #fff;
  --color-gray: #051923;
  --color-darkslategray: #003554;
}
@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}